<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Layout</title>
    <link rel="stylesheet" href="../styles/Task_13.css">
</head>

<body>
    <header class="header">
        <h1>My Portfolio</h1>
        <p>Showcasing creativity with modern web layouts</p>
    </header>

    <div class="decor"></div>

    <main class="grid-container">
        <aside class="sidebar">
            <h3>About Me</h3>
            <p>I'm CS 4th semester student at UET peshawar.I'm a MERN stack devolper and enthusist of Ai collborated with  cyber&networks</p>
        </aside>

        <section class="projects">
            <h2>My Projects</h2>
            <div class="project-gallery">
                <div class="card">Project 1</div>
                <div class="card tall">Project 2</div>
                <div class="card">Project 3</div>
                <div class="card wide">Project 4</div>
                <div class="card">Project 5</div>
                <div class="card">Project 6</div>
            </div>
        </section>
</body>

</html>