<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holy Grail Layout</title>
    <link rel="stylesheet" href="../styles/Task_07.css">
</head>

<body>
    <h1 style="text-align:center;">Holy Grail Layout using 3 Methods (flot,flex, and grid)</h1>

    <!-- FLOAT LAYOUT -->
    <section class="float-layout">
        <h2>1. Float Layout</h2>
        <header>Header</header>
        <aside class="left">Left Sidebar</aside>
        <main>Main Content</main>
        <aside class="right">Right Sidebar</aside>
        <footer>Footer</footer>
    </section>

    <!-- FLEXBOX LAYOUT -->
    <section class="flex-layout">
        <h2>2. Flexbox Layout</h2>
        <header>Header</header>
        <div class="container">
            <aside class="left">Left Sidebar</aside>
            <main>Main Content</main>
            <aside class="right">Right Sidebar</aside>
        </div>
        <footer>Footer</footer>
    </section>

    <!-- GRID LAYOUT -->
    <section class="grid-layout">
        <h2>3. CSS Grid Layout</h2>
        <div class="container">
            <header>Header</header>
            <aside class="left">Left Sidebar</aside>
            <main>Main Content</main>
            <aside class="right">Right Sidebar</aside>
            <footer>Footer</footer>

</body>

</html>