<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../styles/Task_05.css">
</head>

<body>
    <header>
        <h1 class="page-title">Flexbox Card Layout</h1>

    </header>
    <main>
        <div class="card-container">
            <div class="card">
                <img src="../images/cards/bleutath.jpg" alt="Card 1">
                <div class="card-content">
                    <h3>Card One</h3>
                    <p>This card has a short description.</p>
                </div>
                <div class="card-actions">
                    <button>Read More</button>
                </div>
            </div>

            <div class="card">
                <img src="../images/cards/headphone.webp" alt="Card 2">
                <div class="card-content">
                    <h3>Card Two</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel augue sit amet lorem gravida
                        hendrerit.</p>
                </div>
                <div class="card-actions">
                    <button>Read More</button>
                </div>
            </div>

            <div class="card">
                <img src="../images/cards/smartwatch.jpg" alt="Card 3">
                <div class="card-content">
                    <h3>Card Three</h3>
                    <p>This one has a medium-length description to test equal height behavior.</p>
                </div>
                <div class="card-actions">
                    <button>Read More</button>
                </div>
            </div>
        </div>
    </main>

</body>

</html>