<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Data Table</title>
    <link rel="stylesheet" href="../styles/Task_14.css">
</head>
<body>
    <h1>Responsive Data Table</h1>

  <table class="responsive-table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Marks</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Saifullah Jan</td>
        <td>Computer Science</td>
        <td>92</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td>Ali Khan</td>
        <td>Software Engineering</td>
        <td>78</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td>Ayesha Noor</td>
        <td>Information Tech</td>
        <td>88</td>
        <td>Pass</td>
      </tr>
      <tr>
        <td>Bilal Ahmed</td>
        <td>Data Science</td>
        <td>67</td>
        <td>Fail</td>
      </tr>
    </tbody>
  </table>
    
</body>
</html>