<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Proprty</title>
    <link rel="stylesheet" href="../styles/Task_01.css">
</head>
<body>
    <main>
     <h1>Display Property Showcase</h1>

  <!-- 1. block vs inline vs inline-block displayt-->
  <section>
    <h2>1).Block vs Inline and vs Inline-block:</h2>
    <p><b>Block elements:</b></p>
    <div class="block">Block 1</div>
    <div class="block">Block 2</div>

    <p><b>Inline elements:</b></p>
    <p class="inline">Inline 1</p>
    <p class="inline">Inline 2</p>
    <p class="inline">Inline 3</p>

    <p><b>Inline-block elements:</b></p>
    <div class="inline-block">Inline-Block 1</div>
    <div class="inline-block">Inline-Block 2</div>
    <div class="inline-block">Inline-Block 3</div>
  </section>

  <!-- 2. table display -->
  <section>
    <h2>2).Table Display [without table markup]:</h2>
    <div class="table">
      <div class="table-row">
        <div class="table-cell"><strong>Header 1</strong></div>
        <div class="table-cell"><strong>Header 2</strong></div>
        <div class="table-cell"><strong>Header 3</strong></div>
      </div>
      <div class="table-row">
        <div class="table-cell">Row 01, Cell 01</div>
        <div class="table-cell">Row 01, Cell 02</div>
        <div class="table-cell">Row 01, Cell 03</div>
      </div>
      <div class="table-row">
        <div class="table-cell">Row 02, Cell 01</div>
        <div class="table-cell">Row 02, Cell 02</div>
        <div class="table-cell">Row 02, Cell 03</div>
      </div>
    </div>
  </section>

  <!-- 3.responsive display -->
  <section>
    <h2>3.Responsive Display with Media Queries used:</h2>
    <div class="responsive-box">Box 1</div>
    <div class="responsive-box">Box 2</div>
    <div class="responsive-box">Box 3</div>
    <p>Resize the browser to see the boxes change width and color!</p>
  </section>

  <!-- 4.hidden elements -->
  <section>
    <h2>4.Hidden Elements on Different Screens</h2>
    <div class="hidden-mobile">Visible only on desktop</div>
    <div class="hidden-desktop">Visible only on tablet & mobile</div>
  </section>

  </main>
    
</body>
</html>