<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Task_09.css">
</head>
<body>
     <div class="dashboard">

    <aside class="sidebar">
      <h2>Admin</h2>
      <nav>
        <a href="#">Dashboard</a>
        <a href="#">Users</a>
        <a href="#">Orders</a>
        <a href="#">Settings</a>
      </nav>
    </aside>

    <header class="header">
      <h1>Dashboard</h1>
    </header>

    <main class="main">
      <section class="cards">
         <div class="card">
                <img src="../images/ecommrace/product-01.jpg" alt="Product 1">
                <h3>Product 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolor?</p>
                <p><span>Price: </span>$25.00</p>
            </div>
            <div class="card">
                <img src="../images/ecommrace/product-2.webp" alt="Product 2">
                <h3>Product 2</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolor?</p>
                <p><span>Price: </span>$30.00</p>
            </div>
            <div class="card">
                <img src="../images/ecommrace/product-03.webp" alt="Product 3">
                <h3>Product 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolor?</p>
                <p><span>Price: </span>$45.00</p>
            </div>
            <div class="card">
                <img src="../images/ecommrace/product-04.webp" alt="Product 4">
                <h3>Product 4</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolor?</p>
                <p><span>Price: </span>$20.00</p>
            </div>
      </section>

      <section class="content">
        <h2>Recent Activity</h2>
        <p>This area can hold charts, tables, or other dashboard content.</p>
      </section>
    </main>

  </div>
</body>
</html>