<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Layout</title>
    <link rel="stylesheet" href="../styles/Task-11.css">
</head>

<body>
    <header class="header-content">
        <h1>Digital Magazine</h1>
        <p>Department of Computer Science — UET Peshawar</p>
    </header>
    <main class="magazine-grid">
        <article class="featured">
            <img src="../images/article/article-01.jpg" alt="Feature Image" />
            <h2>Featured Story</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, repellendus.</p>
        </article>

        <article class="side-1">
            <img src="../images/article/articale-02.jpg" alt="Article 1" />
            <h3>AI and the Future</h3>
            <p>Discover how artificial intelligence is transforming industries globally.</p>
        </article>

        <article class="side-2">
            <img src="../images/article/articale-03.jpg" alt="Article 2" />
            <h3>Web 3.0 Explained</h3>
            <p>Explore the evolution of the web — from static pages to decentralized systems.</p>
        </article>

        <article class="wide">
            <img src="../images/article/artical-04.jpg" alt="Wide Article" />
            <h3>Innovation in Education</h3>
            <p>How universities are adopting technology to enhance learning experiences.</p>
        </article>

        <article class="small">
            <img src="../images/article/articale-04.jpg" alt="Small Article" />
            <h3>Student Spotlight</h3>
            <p>Meet students leading exciting tech projects at UET Peshawar.</p>
        </article>
    </main>


    <footer>
        <p>&copy; 2025 Magazine Layout</p>
    </footer>
</body>

</html>